body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

#userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.userCard {
    background: white;
    margin: 10px;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}
